:root {
    --ion-color-secondary: #7001ad;
    --ion-color-secondary-rgb: 112, 1, 173;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #630198;
    --ion-color-secondary-tint: #7e1ab5;
  }