:root {
    --ion-color-secondary: #2a3d70;
    --ion-color-secondary-rgb: 42, 82, 152;
    --ion-color-secondary-contrast: #FFFFFF;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #1E3A8A;
    --ion-color-secondary-tint: #4B6ABF;

}