:root {
    --ion-color-secondary: #47606A;
    --ion-color-secondary-rgb: 168, 143, 172;
    --ion-color-secondary-contrast: white;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0A2472;
    --ion-color-secondary-tint: #001C55;
}