<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Peças</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Peças</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      <ion-label class="titulo">Lista de Peças</ion-label>
    </ion-list-header>
    <div class="card-container">
      @for(play of playList; track play.name) {
      <div class="card">
        <div class="foto-nome">
          <ion-thumbnail slot="start">
            @if(play.image) {
            <img [src]="play.image" />
            } @else {
            <img
              src="https://imgs.search.brave.com/vvPQQBvMiB8sI69j6zQ6Eow2teMG6HAKXXkMysEptCI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zZWEy/LmRpc2NvdXJzZS1j/ZG4uY29tL2ZsZXgw/MjAvdXNlcl9hdmF0/YXIvY29tbXVuaXR5/LmdsaWRlYXBwcy5j/b20vbmF0aGFuYWVs/Yi80OC80MzA3OV8y/LnBuZw" />
            }
          </ion-thumbnail>
          <div class="nome-idade">
            <h2>{{ play.name }}</h2>
            <h3>{{ play.gender }} </h3>
          </div>
        </div>
        <ion-text class="play-info">
          <table>
            <tbody>
              <tr>
                <td class="label">Endereço</td>
                <td class="value">{{ play.address }}</td>
              </tr>
              <tr>
                <td class="label">Sinopse</td>
                <td class="value">
                  <div class="synopsis-container" [innerHTML]="play.synopsis">{{ play.synopsis }}</div>
                </td>
              </tr>
              <tr>
                <td class="label">Diretor</td>
                <td class="value">{{ play.director?.name }}</td>
              </tr>

              <tr>
                <td class="label">Teatro</td>
                <td class="value">{{ play.theater?.name }}</td>
              </tr>
              <tr>
                <td class="label">Atores</td>
                <td class="value">
                  {{ getActorNames(play.actor) }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="button-container">
            <ion-button size="small" [routerLink]="['edit', play.id]">
              <ion-icon name="create" slot="start"></ion-icon>
              Editar
            </ion-button>
            <ion-button size="small" (click)="remove(play)">
              <ion-icon name="trash" slot="end"></ion-icon>
              Excluir
            </ion-button>
          </div>
        </ion-text>
      </div>
      }
      @empty {
      <div class="lista-vazia">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-item>Lista de peças vazia, cadastre uma nova Peça!</ion-item>
      </div>
      }
      <div class="add-item-container" [routerLink]="['new']">
        <img class="add-item-image" src="assets/icon/add-gray-icon.png" alt="adicionar">
      </div>
    </div>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['new']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>