<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Teatro - Ator (titulo 1)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teatro - Ator (titulo 2)</ion-title>
      <!-- <ion-select formControlName="platforms" label="Plataformas" label-placement="floating" multiple="true">
        @for(actor of actors; track platform) {
          <ion-select-option [value]="platform">{{platform.name}}</ion-select-option>
        }
      </ion-select> -->
    </ion-toolbar>
  </ion-header>
</ion-content>
